:root {
    --light: hsl(0, 0%, 92%);
    --dark: hsl(0, 0%, 12%);
    --tranparent1: rgba(0, 0, 0, 0.1);
    --tranparent2: rgba(0, 0, 0, 0.2);
    --light-carmine-pink: hsl(0, 75%, 65%);

    --background: var(--light);
    --color: var(--dark)
}

.dark-mode {
    --tranparent1: rgba(255, 255, 255, 0.1);
    --tranparent2: rgba(255, 255, 255, 0.2);

    --background: var(--dark);
    --color: var(--light);
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

body {
    font-family:Verdana, Geneva, "DejaVu Sans", sans-serif;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--color);
}

h1 {
    font-size: clamp(2rem, 10vw, 3rem);
    font-weight: normal;
    text-transform:uppercase;
}

button {
    cursor: pointer;
}

button, 
input {
    font-family:Verdana, Geneva, "DejaVu Sans", sans-serif;
    outline: none;
    border: none;
    border-radius: 2px;
}

button:focus,
input:focus {
    outline: 2px solid var(--color);
}

button:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
    outline: none;
}

button:focus-visible ,
input:focus-visible  {
    outline: 2px solid var(--color);
}

.va-mid {
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 1rem 0 0 0;
}

.search-div {
    max-width: 360px;
    margin: 0 1rem 0 auto;
    padding: .5rem;
    border-radius: 3px;
    background-color: var(--tranparent1);
}

.search-div > * {
    display: inline-block;
    vertical-align: middle;
}

.search-input {
    width: calc(100% - 91.97px);
    height: 24px;
    margin: 0 5px 0 8px;
    padding: 5px .5rem 5px .5rem;
    font-size: 16px;
    color: var(--color);
    background-color: var(--background);
}

.search-btn {
    color: var(--color);
    background-color: var(--tranparent1);
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    background-color: var(--tranparent2);
    z-index: 3;
}

.modal.loading {
    cursor: wait;
}

.modal.loading,
.modal.alert {
    display: flex;
}

.loader {
    display: none;
    width: 120px;
    height: 120px;
    border: 16px solid var(--tranparent1);
    border-radius: 50%;
    border-top: 16px solid var(--color);
    /* Safari */
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    /* Safari */
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.error-box {
    display: none;
    width: 280px;
    height: 52px;
    border-radius: 4px;
    background-color: var(--background);
}

.error-box > * {
    display: inline-block;
    vertical-align: middle;
}

.error-span {
    font-size: 32px;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    background-color: var(--light-carmine-pink);
}

.error-body {
    width: calc(100% - 112px);
}

.error-body > * {
    display: block;
    padding: 0 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error-body small,
.close-error {
    opacity: .7;
    font-size: 11px;
}

.close-error {
    width: 60px;
    height: 52px;
    border-radius: 0 4px 4px 0;
    border-left: 2px solid var(--tranparent1);
    color: var(--color);
    background-color: var(--background);
}

.close-error:hover,
.close-error:focus {
    outline: none;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.modal.loading .loader,
.modal.alert .error-box {
    display: block;
}

.main {
    margin: auto auto auto 20vw;
    max-width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.description {
    font-size: clamp(1.3rem, 10vw, 1.7rem);
    opacity: .8;
}

.temperature {
    position: relative;
    font-size: clamp(6rem, 10vw, 8rem);
    margin-right: 2.5rem;
    color: var(--color);
    background-color: transparent;
}

.temperature,
.more-info {
    display: inline-block;
}

.temperature.deg-c::after,
.temperature.deg-c + .more-info .info-feels::after {
    content: "\2103";
}

.temperature.deg-f::after,
.temperature.deg-f + .more-info .info-feels::after {
    content: "\2109";
}

.temperature.deg-c::after,
.temperature.deg-f::after {
    position: absolute;
    top: 1rem;
    font-size: 1.5rem;
}

.temperature.deg-c + .more-info .info-wind::after {
    content: " MPS";
}

.temperature + .more-info .info-humid::after {
    content: "\0025";
}

.temperature.deg-f + .more-info .info-wind::after {
    content: " MPH";
}

.more-info {
    border-left: 2px solid var(--tranparent1);
    border-radius: 3px;
    padding: 0 0 0 1rem;
    opacity: .8;
}

.more-info > * {
    line-height: 2rem;
}

@media only screen and (max-width: 780px) {
    .search-div {
        margin: 0 1rem 0 1rem;
        max-width: 780px;
    }
    .main {
        margin: auto auto auto 0;
    }
    .description {
        margin: 0 0 .5rem 0;
    }
}

@media only screen and (max-width: 414px) {
    .container {
        padding: .2rem 0 0 0;
    }
    .search-div {
        margin: 0 .2rem 0 .2rem;
        max-width: 414px;
    }
    .main {
        padding: .5rem .5rem .5rem .5rem;
    }
}
